<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/index.css">

</head>

<body>
    <h1>Solar No Polar</h1>
    <hr>
    <p id='intro'>
        Hello! Welcome to our project. Our project will be examining the need for increased implementation of solar
        panels. Installing solar panels on your home helps combat greenhouse gas emissions and reduces our need to use
        fossil fuels. Installing solar panels is also cheaper for individual families. Estimated savings over 20 years
        after solar purchase is $7,000 (Project Sunroof). Solar no Polar is a user-friendly consultation to estimate how
        much switching to solar energy would save your household.
    </p>



</body>

</html>