{% extends "base.html" %}
{% block title%}About{% endblock %}
{% block content%}
<div class="about">
    <h1>Sol Solutions</h1>
    <hr>
    <div>
        <p class="description">Sol Solutions was produced in 48 hours by four Notre Dame computer science students. Our
            goal is
            to provide a
            user-friendly experience to assess how solar panel implementation can benefit you. We hope you see the
            benefits
            of
            switching to renewable energy as a sustainable measure to help our Earth.</p>
        <br>
        <p class="description">Sustainable energy does not harm the environment and can help improve public health.
            Renewable energy
            resources emit little to no greenhouse gases, which is better for the environment and our health. The smog
            produced by fossil fuels irritates our lungs and can lead to lung diseases and respiratory conditions.</p>
    </div>
    <img src="../static/images/notredame.jpeg" alt="pic of notre dame" class="notredame">
    <br>
</div>



{% endblock %}