h1 {
    text-align: center;
    background-color: #95B1B1;
}

#intro {
    text-align: center;
}

img {
    border: 2px solid black;
    width: 50%;
    margin: 0px auto;
    display: block;
}

#h3 {
    text-align: center;
    margin: 50px 50px 20px 50px;
    color: #95B1B1;
    font-family: "Papyrus", Fantasy;
}

#homevalue {
    border: 2px solid #95B1B1;
    text-align: center;
    font-size: 1em;
}

#consultation {
    display: block;
    width: 25%;
    margin: 0px auto;
    transition: all .5s;
}
#consultation:hover {
    background-color: #95b1b1;
    cursor: pointer;
    color: white;
}

h5 {
    text-align: center;
}

#switching {
    text-align: center;
}
