h1 {
    text-align: center;
    background-color: #95B1B1;
}

#intro {
    text-align: center;
}

img {
    border: 2px solid black;
    width: 50%;
    margin: 0px auto;
    display: block;
}

#h3 {
    text-align: center;
    margin: 50px 50px 20px 50px;
    color: #95B1B1;
    font-family: "Papyrus", Fantasy;
}

#homevalue {
    border: 2px solid #95B1B1;
    text-align: center;
    font-size: 1em;
}

#consultation {
    display: block;
    width: 25%;
    margin: 0px auto;
    transition: all .5s;
}
#consultation:hover {
    background-color: #95b1b1;
    cursor: pointer;
    color: white;
}

h5 {
    text-align: center;
}

#switching {
    text-align: center;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.signuppicture #signupinfo {
    text-align: center;
    color: black;
    font-size: 1.2em;
}

.signuppicture {
    position: relative;
    text-align: left;
    color: white;
    overflow: hidden;
    height: 100vh;
    background-image: url("images/solarpanelpic3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-attachment: fixed;
}

.overlay {
    color: #00000057;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.signuppicture #form {
    background-color: white;
    color: black;
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
}