.home {
    background-color: #95B1B1;
}
h1 {
    text-align: center;
    padding: 15px 0px 0px 0px;
}

#intro {
    text-align: center;
}

img {
    border: 2px solid black;
    width: 50%;
    margin: 3px auto;
    display: block;
}

#h3 {
    text-align: center;
    margin: 25px 20px 20px 25px;
    color: black;
    
}

#homevalue {
    border: 2px solid #95B1B1;
    text-align: center;
    font-size: 1em;
    margin: 10px;
}

#consultation {
    display: block;
    width: 25%;
    margin: 0px auto;
    transition: all .5s;
}
#consultation:hover {
    background-color: #95b1b1;
    cursor: pointer;
    color: white;
}

h5 {
    text-align: center;
}

#switching {
    text-align: center;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.signuppicture2 #form2 { /* login */
    background-color: white;
    color: black;
    width: 65vw;
    height: 35vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
}

.signuppicture2 {
    position: relative;
    text-align: left;
    color: white;
    overflow: hidden;
    height: 100vh;
    background-image: url("images/solarpanelpic3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-attachment: fixed;
}

.signuppicture2 p {
    color: black;
    text-align: center;
    font-size: 1.3em;
    margin: 50px;

}
.signuppicture #signupinfo { /* sign up page */
    text-align: center;
    color: black;
    font-size: 1.2em;
}

.signuppicture {
    position: relative;
    text-align: left;
    color: white;
    overflow: hidden;
    height: 100vh;
    background-image: url("images/solarpanelpic3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-attachment: fixed;
}

.overlay {
    color: #00000057;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.signuppicture #form {
    background-color: white;
    color: black;
    width: 65vw;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
}

.description { /* for about page */
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
}

.about {
    background-color: #95B1B1;
}

.about h1 {
    padding: 10px 0px 0px 0px;
}

#navbar ul li a:hover {
    background-color: #ffffff50;
}

.navbar {
    height: 8vh;
    align-items: center;
}

.nav-link {
    padding-top: 2.3vh;
    height: 8vh;
    font-size: 1.1em;
}